.counter{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  
}
.add-button{
    background-color: white;
    border: none;
    border-left: 3px solid rgba(0, 0, 0, 0.635);
    border-top:3px solid rgba(0, 0, 0, 0.546) ;
    border-bottom: 3px solid rgba(0, 0, 0, 0.525);
    padding: 10px;
    width:50px;
}
.minus-button{
    background-color: white;
    border: none;
    border-right: 3px solid rgba(0, 0, 0, 0.635);
    border-top:3px solid rgba(0, 0, 0, 0.546) ;
    border-bottom: 3px solid rgba(0, 0, 0, 0.525);
    padding: 10px;
    width:50px;
}
.page-count{
    padding:10px;
    font-size: 29px;
    font-weight: 500;
}
.buttons{
    width:200px;
    margin-left:30px;
}